/***********FONTS**********/
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Open Sans', sans-serif;
$font-nav: 'Source Sans Pro', sans-serif;
$font-size-heading: 80px;
$font-size-subheading: 18px;
$font-size-title: 44px;
$font-size-subtitle: 22px;
$font-size-description: 18px;
$font-size-links: 14px;

/***********COLORS*********/
$primary: #2C4058;
$white-default: #FFFFFF;
$black-default: #000000;

/***********WIDTHS**********/
$width: 1600px;
$content-width: 1170px;

/**********Breakpoints******/
$full: 1440px;
$lg: 1024px;
$md: 768px;
$sm: 320px;

/**********Padding**********/
$sm-padding: 18px;
$md-padding: 24px;
$lg-padding: 215px;
$full-padding: 110px;








